<div class="container pt-5">
  <div class="row">
    <div class="col-8 offset-lg-2">
      <form>
        <div class="form-group">
          <label for="username">Username</label>
          <div class="input-group">
            <input
              type="text"
              id="username"
              name="username"
              class="form-control"
              ngModel
            />
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button">
                Suggest a Username
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            ngModel
          />
        </div>
      </form>
      <div class="form-group">
        <label for="secret">Secret Questions</label>
        <select id="secret" name="secret" class="form-control" ngModel>
          <option value="pet">Your first Pet?</option>
          <option value="teacher">Your first teacher?</option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </div>
</div>
